# SPDX-FileCopyrightText: 2024 Shun Sakai
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/gb3sum

# Test binary, built with `go test -c`
*.test

# Generated man page
gb3sum.1

# GoReleaser
dist/
